<div id="navSidebar" class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <h4>User</h4>
    <div>
        <ul class="nav nav-sidebar">
            <li>
                <a id="home" href="index.php">Home</a>
                <a id="properties" href="properties.php">Properties</a>
                <a id="tasks" href="tasks.php">Tasks</a>
            </li>
        </ul>
    </div>
    <h4>Admin</h4>
    <div>
        <ul class="nav nav-sidebar">
            <li>
                <a id="Status" href="status.php">Status</a>
                <a id="Results" href="results.php">Results</a>
                <a id="Queue Manager" href="queue_manager.php">Queue Manager</a>
                <a id="Workflow Manager" href="workflow_manager.php">Workflow Manager</a>
                <a id="Manager Types" href="manager_types.php">Manager Types</a>
                <a id="Endpoints" href="endpoint_ports.php">Endpoint Ports</a>
                <a id="Passwords" href="passwords.php">Passwords</a>
                <a id="Systems" href="systems.php">Systems</a>
                <a id="Target Types" href="target_types.php">Target Types</a>
                <a id="Task Types" href="task_types.php">Task Types</a>
                <a id="Target Task Types" href="target_task_types.php">Target Task Types</a>
                <a id="Qman Tasks" href="qman_tasks.php">Qman Tasks</a>
                <a id="Qman Files" href="qman_files.php">Qman Files</a>
                <a id="Wman Tasks" href="Wman_tasks.php">Wman Tasks</a>
                <a id="Wman Files" href="Wman_files.php">Wman Files</a>
                <a id="SubTask Generator" href="subtask_generator.php">SubTask Generator</a>
                <a id="Targets" href="targets.php">Targets</a>
                <a id="Related Tasks" href="Related_tasks.php">Related Tasks</a>
                <a id="Managed Files" href="managed_files.php">Managed Files</a>
                <a id="Parent Target Types" href="parent_target_types.php">Parent Target Types</a>
                <a id="Queue MGR File Groups" href="queue_mgr_file_groups.php">Queue MGR File Groups</a>
                <a id="Workflow MGR File Groups" href="workflow_mgr_file_groups.php">Workflow MGR File Groups</a>
                <a id="Additional PS Modules" href="additional_ps_modules.php">Additional PS Modules</a>
                <a id="Workflow MGR Module Groups" href="workflow_mgr_module_groups.php">Workflow MGR Mdoule Groups</a>
                <a id="Workflow MGR Modules" href="wman_modules.php">Workflow MGR Modules</a>
            </li>
        </ul>
    </div>
</div>