<div id="navSidebar" class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <h4>User</h4>
    <div>
        <ul class="nav nav-sidebar">
            <li>
                <a id="home" href="index.php">TestRun Status</a>
                <a id="properties" href="properties.php">TestRun Status</a>
            </li>
        </ul>
    </div>
    <h4>Admin</h4>
    <div>
        <ul class="nav nav-sidebar">
            <li>
                <a id="Status" href="status.php">Targets</a>
                <a id="Results" href="results.php">Targets</a>
                <a id="Queue Manager" href="queue_manager.php">Targets</a>
                <a id="Endpoints" href="endpoint_ports.php">Targets</a>
            </li>
        </ul>
    </div>
</div>